body {
    background-color: BlanchedAlmond;
    background-size: contain;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.menu-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10px auto;
}

.menu-images img {
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.menu img {
    width: 33px;
}

.cart img{
    width: 33px;
}


.offers {
    background-color: DarkOrange;
    height: 40px;
    width: 220px;
    border-radius: 100px;
    line-height: 40px;
    text-align: center;
    margin: 50px auto;
}

.offers h2 {
    font-size: 1em;
}

.offers-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: auto;
    text-align: center;
}

.box {
    width: 344px;
    border: 1px solid orange;
    border-radius: 20px;
    padding: 20px;
}

.offers-box h3 {
    font-size: 15px;
}

.offers-box p {
    font-size: 13px;
    padding: 18px;
    font-family: Verdana, sans-serif;
}

.offers-box span {
    font-size: 15px;
    color: red;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
}