body {
    background-color: BlanchedAlmond;
    background-size: contain;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.menu-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10px auto;
}

.menu-images img {
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.menu img {
    width: 33px;
}

.cart img{
    width: 33px;
}


.offers {
    background-color: DarkOrange;
    height: 40px;
    width: 220px;
    font-size: 15px;
    border-radius: 100px;
    line-height: 40px;
    text-align: center;
    margin: 50px auto;
}

.offers-box {
    columns: 100px 3;
    margin: 50px auto;
    text-align: center;
}

.box {
    height: 172px;
    width: 344px;
    border: 10px orange;
}