body {
    background-color: BlanchedAlmond;
    background-size: contain;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.menu-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 120px auto;
}

.menu-images img {
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.menu img {
    width: 33px;
}

.cart img{
    width: 33px;
}

.offers-wrapper {
    display: flex;
    justify-content: center;
}

.offers {
    background-color: DarkOrange;
    padding: 15px 35px;
    border-radius: 40px;
    font-weight: 600;
}