{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BurgerCool</title>
    <link rel="stylesheet" href="{% static 'system/css/style.css' %}">
</head>
<body>
    <header>
        <div class="menu">
            <img src="{% static 'system/img/menu-icon.png' %}" alt="menu">
        </div>

        <h1>BurgerCool</h1>

        <div class="cart">
            <img src="{% static 'system/img/cart-icon.png' %}" alt="menu">
        </div>
    </header>

    <div class="menu-images">
        <img src="{% static 'system/img/burger2.1.png' %}"
         alt="Заглавная картинка страницы"
         width="223" height="116">
        <img src="{% static 'system/img/burger.png' %}"
         alt="Заглавная картинка страницы"
         width="466" height="247">
        <img src="{% static 'system/img/burger2.0.png' %}"
         alt="Заглавная картинка страницы"
         width="223" height="116">
    </div>

    <div class="offers">
        <h2>Вигідні пропозиції</h2>
    </div>

    <div class="offers-box">
        <div class="box" id="box-first">
            <h3>Burger + Fries Combo</h3>
            <p>Соковитий класичний бургер, картопля фрі, сирний соус</p>
            <span>250 грн</span>
        </div>

        <div class="box" id="box-second">
            <h3>Double Burger Deal</h3>
            <p>Соковитий класичний бургер 2Х, картопля фрі, сирний соус</p>
            <span>430 грн</span>
        </div>

        <div class="box" id="box-third">
            <h3 class="text-h3">Family Burger Set</h3>
            <p>Бургер із подрібненою телятиною 2Х, картопляні соуси 2Х, сирний соус 2Х</p>
            <span>659 грн</span>
        </div>
    </div>

    {% for dish in dishes %}
        <p>{{ dish.name }} - {{ dish.price }}</p>
    {% endfor %}

</body>
</html>