{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'system/css/style.css' %}">
</head>
<body>
    <div class="menu">
        <h1>🍔 Menu SpongeBob 🍔</h1>
            <div class="burger">
                <h2>Фірмові бургери</h2>
                <ul class="menu-list">
                    <li class="menu-items">
                        <span class="name">Крабс Бургер </span>
                        <p class="description">легендарний бургер за секретним рецептом містера Крабса</p>
                        <span class="price">199 грн</span>
                    </li>
                    <li class="menu-items">
                        <span class="name">Подвійний Крабс Бургер</span>
                        <p class="description">подвійна котлета, подвійний сир, подвійне задоволення</p>
                        <span class="price">229 грн</span>
                    </li>
                    <li class="menu-items">
                        <span class="name">Бургер Сквідварда </span>
                        <p class="description">для тих, хто любить щось серйозне (яловичина, сир, карамелізована цибуля)</p>
                        <span class="price">210 грн</span>
                    </li>
                    <li class="menu-items">
                        <span class="name">Бургер Патріка </span>
                        <p class="description">величезний бургер з беконом і сиром</p>
                        <span class="price">220 грн</span>
                    </li>
                    <li class="menu-items">
                        <span class="name">Медуза Бургер</span>
                        <p class="description">гострий бургер з халапеньйо та соусом</p>
                        <span class="price">205 грн</span>
                    </li>
                </ul>
            </div>

            <h2>Закуски Бікіні Боттом</h2>
            <ul>
                <li>Фрі з океану — хрустка картопля фрі — 85 грн</li>
                <li>Кільця Сквідварда — цибулеві кільця — 95 грн</li>
                <li>Медузні нагетси — курячі нагетси (6 шт) — 120 грн</li>
                <li>Коралові палички — сирні палички — 110 грн</li>
            </ul>

            <h2>Напої</h2>
            <ul>
                <li>Напій Губки Боба — лимонад з ананасом — 80 грн</li>
                <li>Морська кола — 55 грн</li>
                <li>Коктейль Патріка — полуничний молочний коктейль — 100 грн</li>
                <li>Бульбашкова вода Бікіні Боттом — 45 грн</li>
            </ul>

            <h2>Десерти</h2>
            <ul>
                <li>Пиріг місіс Пафф — ванільний пиріг — 115 грн</li>
                <li>Шоколадний риф — брауні — 110 грн</li>
                <li>Морозиво Медуза — 90 грн</li>
            </ul>


        </div>

</body>
</html>